@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
.card-view{
    width: 350spx;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #e3e1e1;
    margin: auto;
    margin-bottom: 25px;

    
}
.image-view{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 600px;
    margin: auto;
    display: block;
}
.text{
   text-align: center;
   padding-bottom: 15px;
}   
h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.intro{
    width: 75%;
    margin: auto;
}
.textintro{
    text-align: justify;
    margin-bottom: 25px;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.contact{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    margin-top: 40px;
}

.container{
    background-color: white !important;
    border-radius: 30px;
   
    padding: 50px 25px 50px 25px !important;
}

body{
    background-color: #b3b7c9 !important;
}

.image-nav{
    height: 35px;

}



.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.contact-list{
    margin-top: 3%;
    
    margin-bottom: 2%;
}

.contact-icon{
    float: left;
    margin-right: 10px;
}

.container-card{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #8f9194;
    margin-top: 50px;
    margin-bottom: 35px;
    
    width: 75%;
    padding-bottom: 3%;
    padding-top: 3%;
}
.detail{
    width: 50%;
    padding-left: 3%;
    margin: auto;
}
.picture{
    width: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #e3e1e1;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 25px;

    
}

ul{
    list-style-type: none;
}
.image{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 350px;
    margin: auto;
    display: block;
}
.btn-action{
    background-color: black;
    color: white;
    /* width: 100px;
    height: 35px; */
    padding: 10px 15px;
    border-radius: 30px;
    
}

@media screen and (max-width:600px) {
    .container{
        margin-top: 12%;
        flex-direction: column;
        width: 100% !important;
        height: auto;
    
    }
 
    .card-view{
        
        width: 100%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px #e3e1e1;
        margin: auto;
      
        margin-bottom: 25px;
    
        
    }
    .textintro{
        text-align: left;
        font-size: medium;
    }
   
    h1{
        text-align: center;
    }
    .container-card{
        width: 80%;
        flex-direction: column;
        text-wrap: wrap;
        padding-bottom: 25px;
    }
    .detail{
        text-align: center;
    }
    .picture{
        width: 80%;
        height: 25%;
    }
    #content{
        margin: auto;
        width: 100%;
    }

    .container{
        margin-top: 30px !important;
        padding-bottom: 40px !important;
    }
    .nav-link {
        display: none;
      }
    
    .responsive-button {
        display: block;
    }
    
}